{% extends "header.html" %} <!-- define what is being extended, starting from the templates directoory -->

{% block content %}  

  
<head>
    
  <meta charset="utf-8">
  <title>TTSNE OUTPUT</title>
  
  
    
      
    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.css" type="text/css" />
    
    
      
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.js"></script>
    <script type="text/javascript">
        Bokeh.set_log_level("info");
    </script>
    
  
  

</head>

<body>
<nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">LDA and t-SNE</a>
          <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">k-means and t-SNE</a>
          <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">pyLDAvis </a>
        </div>
      </nav>

      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            
          <form action="{{ url_for('submit_number_topics') }}" method="post">
             <br>
             
              <div>
          {{number_form.number_topics()}} {{number_form.number_topwords()}} {{number_form.threshold()}}
          {{number_form.submit()}}
      </div>
          </form>

         <div class="embed-wrapper">
             
          {{div|safe}}
          {{script|safe}}

          </div>
                
        
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            
          
             ...

        </div>
        
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            <br>
            <div class="embed-wrapper">
            {{pyladvis_html|safe}}
        </div>
              
        </div>

    </body>

    {% endblock %}	

