{% extends "header.html" %}

{% block content %}
    <h1>Sign In</h1>
    <br>
    <br>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>

            <br>
        <p>{{ form.submit() }}</p>
    </form>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="close"> <span aria-hidden = "true">&times;</span> </button>
           {{ message }} 
        </div>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    
{% endblock %}