{% extends "header.html" %}

{% block content %}
    <h1>Register</h1>
    <br>
    <br>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
            <br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
            <br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

        </p>
        <p>
            {{ form.password2.label }}<br>
            {{ form.password2(size=32) }}
            <br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            
        </p>

        <br>

        <p>{{ form.submit() }}</p>
    </form>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <div class="alert alert-info alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="close"> <span aria-hidden = "true">&times;</span> </button>
               {{ message }} 
            </div>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    
{% endblock %}